*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header{
	background-image: url(../img/top-bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: 'BebasBold';
}
header a{
	color: #fff;
}
.top_line{
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	padding: 22px 0;
}
.top_line a{
	font-size: 21px;
	border-bottom: 1px dashed #fff;

	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover{
	border-bottom: transparent 1px dashed;
}
.top_addr{
	padding-left: 50px;
	background-image: url(../img/top-map.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 26px;
}
.top_addr strong{
	color: #d12f22;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 31px;
}
.top_line .logo{
	border-bottom: none;
	position: absolute;
	margin-top: -15px;
}
.top_line .logo:hover{
	border-bottom: none;
}
.logo_wrap{
	position: relative;
	width: 160px;
	margin: auto;
}
.logo img{
	margin: auto;
}
.top_addr.ta-left{
	display: block;
	float: left;
}
.top_addr.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
	display: block;
	float: right;
}
.ta_right span{
	color: #fff;
}
header h1{
	color: #fff;
	margin-top: 75px;
	font-size: 40px;
	font-family: 'BebasRegular';
	text-align: center;
	text-shadow: 0 3px rgba(0,0,0,.55);
}
.button {
	background-color: #d12f22;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	vertical-align: middle;
	border-bottom: 4px solid #ac160a;
	color: #fff;
	font-family: 'BebasBold';
	text-transform: uppercase;
}
.button:hover{
	background-color: #e64437;
}
.button:active{
	background-color: #b81609;
}

header .button{
	margin-right: 20px;
}
.buttons-top{
	position: absolute;
	width: 100%;
	bottom: 33px;
}
.st-button {
	background-image: url("../img/foto-ico.png");
	background-position: 13px 9px;
	background-repeat: no-repeat;
	line-height: 18px;
	padding-left: 69px;
	padding-top: 7px;
	text-align: left;
}

.top_mnu{
	height: 62px;
	background-color: #242424;
	font-family: 'BebasRegular';
	text-transform: uppercase;

	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
}
.top_mnu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_mnu li{
	float: left;
}
.top_mnu li.active a,
.top_mnu li:hover a{
	background-color: #050505;
}
.top_mnu a{
	background-image: url(../img/top_mnu_iconset.png);
	background-repeat: no-repeat;
	background-position: 20px 20px;
	display: block;
	height: 62px;
	line-height: 62px;
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 48px;
	border-left: 1px solid #3a3a3a;
}
.top_mnu li:nth-child(2) a{
	background-position: 20px -48px;
}
.top_mnu li:nth-child(3) a{
	background-position: 28px -117px;
}
.top_mnu li:nth-child(4) a{
	background-position: 20px -187px;
}
.top_mnu li:nth-child(5) a{
	background-position: 20px -260px;
}
.top_mnu li:nth-child(6) a{
	background-position: 22px -335px;
}
.garanty{
	color: #fff;
	float: right;
	font-size: 16px;
	border: 3px solid #fff;
	border-radius: 3px;
	line-height: 16px;
	margin-top: 9px;
	padding: 3px 10px;
	cursor: default;
}
.w_left,
.w_right{
	display: inline-block;
	vertical-align: top;
}
.w_left{
	font-family: 'BebasBold';
	font-size: 20px;
	margin: 12px 10px 0 0;
}
.w_left span{
	font-family: 'BebasBold';
	font-size: 34px;
}
.w_right{
	font-family: "RobotoCondensed";
}
section h2,
article h2.art_header{
	position: relative;
}
.main_cats{
	background-color: #191919;
	padding: 20px 0 40px;
}
.main_cats h2,
h2.art_header{
	color: #c9c9c9;
	font-family: 'BebasRegular';
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}
.main_cats h2 strong{
	color: #fff;
}
.main_cats h2 span{
	color: #d12f22;
}
.s_black h2::before{
	content: "";
	position: absolute;
	top: 20px;
	width: 50px;
	height: 20px;
	margin-left: -68px;
	background-image: url(../img/h2r_img.png);
}
.s_black h2::after{
	content: "";
	position: absolute;
	top: 20px;
	width: 50px;
	height: 20px;
	margin-left: 15px;
	background-image: url(../img/h2r_img.png);
	background-position: -50px 0;
}
article h2.art_header::before{
	content: "";
	position: absolute;
	top: 20px;
	width: 50px;
	height: 20px;
	margin-left: -68px;
	background-image: url(../img/h2_art_img.png);
}
article h2.art_header::after{
	content: "";
	position: absolute;
	top: 20px;
	width: 50px;
	height: 20px;
	margin-left: 15px;
	background-image: url(../img/h2_art_img.png);
	background-position: -50px 0;
}
.mc_wrap{
	position: relative;
	text-align: center;
	padding: 0;
}
.mc_item_wrap{
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;

}
.mc_item_wrap:first-child{
	margin-left: 0;
}
.mc_item_wrap_af{
	position: absolute;
	display: none;
	margin: 16px 66px;
	content: "";
	width: 18px;
	height: 9px;
	background-image: url(../img/mc_ch_arr.png);
	background-repeat: no-repeat;
}
.mc_item_wrap a{
	color: #fff;
}
.mc_item{
	border: 1px solid #353535;
	border-radius: 2px;
}
.mc_item span{
	display: block;
	height: 85px;
	width: 103px;
	background-image: url(../img/cats-icons.png);
	background-repeat: no-repeat;
	margin: 15px auto 0 auto;
}
.mc_item_wrap:nth-child(1) span{
	background-position: 0 0px;
}
.mc_item_wrap:nth-child(2) span{
	background-position: 10px -115px;
}
.mc_item_wrap:nth-child(3) span{
	background-position: 0 -213px;
}
.mc_item_wrap:nth-child(4) span{
	background-position: 10px -317px;
}
.mc_item_wrap:nth-child(5) span{
	background-position: 20px -427px;
}
.mc_item_wrap:nth-child(6) span{
	background-position: 10px -534px;
}
.mc_item h4{
	font-weight: normal;
	font-family: 'BebasBold';
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item a:hover h4,
.mc_item_wrap.active h4{
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover{
	background-color: #2a2a2a;
}
.mc_toggle{
	position: relative;
	background-color: #212121;
	height: 25px;
	cursor: pointer;
	background-image: url(../img/mc_arr.png);
	background-repeat: no-repeat;
	background-position: -118px 10px;;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle{
	background-color: #353535;
	background-position: 70px 10px;
}
body .mc_wrap .mc_item_wrap > ul{
	margin-top: 25px;
	position: absolute;
	width: 100%;
	padding: 15px 0;
	left: 0;
	list-style: none;
	background-color: #353535;
	z-index: 10;
	display: none;
}
.mc_item_wrap.active > ul li{
	display: inline-block;
	font-family: 'BebasRegular';
	font-size: 20px;
}
.mc_item_wrap.active > ul li a{
	padding: 0 15px;
	text-decoration: underline;
}
.mc_item_wrap.active > ul li a:hover{
	text-decoration: none;
}
.mc_button_wrap{
	text-align: center;
	margin-top: 30px;
}
article.content{
	background-color: #e9e9e9;
}
article .art_header{
	color: #050505;
	margin-bottom: 10px;
}
p.h_descr{
	max-width: 790px;
	text-align: center;
	font-size: 16px;
	margin: auto;
	margin-top: 0;
}
.home_items{
	background-color: #d6d6d6;
	padding: 40px 0;
	margin-top: 40px;
}
.hi_item{
	color: #050505;
	font-size: 14px;
	text-align: center;
	margin-bottom: 50px;
}
.hi_item img{
	max-width: 100%;
	border-top: 8px solid #ac160a;
}
.sb_header h2{
	margin: 0;
	font-family: 'BebasRegular';
	font-size: 36px;
	color: #050505;
	text-transform: uppercase;
}
.sb_header{
	margin-top: 35px;
}
.s_bottom img{
	max-width: 90%;
	position: absolute;
	bottom: 0;
}
.sb_content{
	margin-top: 30px;
}
.sb_header.button_cont{
	text-align: right;
}
footer{
	background-color: #2a2a2a;
	color: #fff;
	padding: 30px 0 35px;
	font-family: 'BebasRegular';
	font-size: 20px;
}
footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer li{
	float: left;
	padding: 0 10px;
}
footer a{
	color: #fff;
	text-decoration: underline;
}
footer a:hover{
	text-decoration: none;
}